.user-list-container {
  width: 100%;
  background-color: var(--action);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.user-box {
  display: flex;
  width: 320px;
  height: 250px;
  gap: 25px;

}
.user-list {
  border: 1px solid var(--primary);
  border-radius: 12px;
  background-color: var(--white);
  padding: 24px 48px;
}
.header {
  text-align: center;
}