.user-list-container {
  width: 100%;
  background-color: var(--action);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 0px 50px;
}
.user-box {
  width: auto;
  height: auto;
  gap: 25px;
  display: flex;
  flex-wrap: wrap;

}
.user-list {
  border: 1px solid var(--primary);
  border-radius: 12px;
  background-color: var(--white);
  padding: 24px 48px;
  flex: 1;
  max-width: 350px;
}
.header {
  text-align: center;
}
.form-wrapper > .form {
  background-color: var(--white);
}