:root {
  --primary:#1976d2;
  --action: #d1d1d1;
  --error: #d32f2f;
  --success: #2e7d32;
  --black: rgba(0, 0, 0, 0.87);
  --white: #fff;
} 
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  height: 100%;
}
li {
  list-style: none;
}